.sortSection {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.sortDropdown {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}
