.button {
  width: 48%;
  padding: 8px;
  margin: 20px 0;
  border-color: #e1d7ec;
  border-width: 2px;
  border-radius: 25px;
  background: linear-gradient(
    to bottom,
    rgb(237, 229, 198),
    rgb(218, 214, 200),
    rgb(248, 248, 246),
    rgb(193, 192, 192),
    rgb(240, 220, 165)
  );
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: linear-gradient(
    to bottom,
    #f2f1f4,
    #f0ddf0,
    #c9bcd4,
    #e7ecf1,
    #d3cada,
    #d2e4f7,
    #c5c0cb
  );
  color: rgb(80, 174, 162);
}
