.userTable {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
  margin-right: 35px; 
  
}

.editBtn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.editBtn:hover {
  background-color: #0056b3;
}

.blockBtn {
  background: #ffae00;
  color: #fff;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
}

.blockBtn:hover {
  background-color: #c87e23
}

.deleteBtn {
  background-color: #dc3545; /* Red background for delete action */
  color: #fff; /* White text for contrast */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 12px; /* Padding for a better button size */
  font-size: 14px; /* Standard font size */
  cursor: pointer; /* Pointer cursor to indicate interactivity */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
}

.deleteBtn:hover {
  background-color: #b02a37; /* Darker red on hover */
  transform: scale(1.05); /* Slight scaling effect */
}

.deleteBtn:active {
  background-color: #841f2a; /* Even darker red on click */
  transform: scale(1); /* Remove scaling effect on click */
}

.deleteBtn:focus {
  outline: 2px solid #f8d7da; /* Light red outline for focus */
  outline-offset: 2px; /* Slight offset for better visual feedback */
}

.editForm {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  
}



.input,
.select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 10px;
}

.saveBtn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.saveBtn:hover{
  background-color: #0056b3;
}
.cancelBtn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: #c82333
}

