.gradientBackground {
  background: linear-gradient(
    to bottom,
    #dda0dd,
    #40e0d0
  ); /* Переход от светло-фиолетового к бирюзовому */
}

.registrationContainer {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: none;
  margin: 30px;
}

.registrationBox {
  background: linear-gradient(
    to bottom,
    #606be3,
    #969cdf,
    #d2c2dc,
    #80a1c3,
    #90bce7,
    #40e0d0,
    #01f9e0
  );
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  max-width: 400px;
  width: 50%;
}

.title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #fbfbfb;
}

.input {
  width: calc(100% - 20px);
  height: 25px;
  padding: 5px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  padding-left: 8px;
}

/* Ошибочные поля ввода */
.input.error {
  border-color: #dc3545; /* Красная граница для ошибки */
  background-color: #f8d7da; /* Светло-красный фон для визуальной подсказки */
  position: relative;
}

.errorMessage {
  font-size: 0.75rem; /* Уменьшенный шрифт для сообщений об ошибке */
  color: #dc3545; /* Красный цвет текста */
  position: absolute; /* Позиционируем относительно родительского блока */
  top: -8px; /* Располагаем немного выше инпута */
  left: 10px; /* Смещение от левого края */
  padding: 2px 4px;
  z-index: 1;
  width: 100%; /* Ошибка будет занимать всю ширину инпута */
  text-align: left; /* Выравнивание текста по левому краю */
}

.inputGroup {
  position: relative; /* Чтобы ошибки располагались внутри контейнера */
}

.passwordContainer {
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.login {
  display: block;
  margin-top: 20px;
  color: #342146;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
