.container {
  max-width: 1160px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
}

.tourTitle {
  font-size: 24px;
  font-weight: bold;
  color: #26434d;
  margin: 20px;
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  min-height: 300px;
}

.styledTable th,
.styledTable td {
  text-align: left;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.styledTable th {
  background-color: #f9f9f9;
  font-size: 16px;
  color: #444;
}

.styledTable td {
  font-size: 14px;
}

.styledTable tr:hover {
  background-color: #f3f3f3;
}

.description {
  max-width: 500px;
  width: 100%;
  margin: 10px 0 0;
  padding: 15px;
  border: 1px solid #63fdc2;
  border-radius: 20px;
  background-color: #f6fff8;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  height: auto; /* Убираем фиксированную высоту */
  overflow: hidden;
  word-wrap: break-word; /* Перенос слов, если они слишком длинные */
}

input[type="date"] {
  width: 180px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
}

.summary {
  margin-top: 20px;
  text-align: right;
}

.summary p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.totalSummary {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.bookNow {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 16px;
  background-color: #f6fff8;
  color: #000000;
  border: 2px solid #63fdc2;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.bookNow:hover {
  background-color: #63fdc2;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.touristsInput {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

.touristsInput:focus {
  border-color: #63fdc2;
  outline: none;
}

.touristsInput[type="number"] {
  -moz-appearance: textfield; /* Убирает стрелки в Firefox */
  -webkit-appearance: none; /* Убирает стрелки в Safari */
}

.touristsInput::-webkit-outer-spin-button,
.touristsInput::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Убирает стрелки в Chrome и Safari */
  margin: 0;
}

.touristsInput:invalid {
  border-color: red;
}

.touristsInput:valid {
  border-color: green;
}

.totalPrice {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #26434d;
}

